/* Reset default browser styles */
body, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

input[type="file"] {
    display: none;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .container {
    background-color: #444;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode h1, .dark-mode h2 {
    color: #fff;
}

/* Toggle Dark Mode Button */
.dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
}

.dark-mode-toggle:hover {
    color: #aaffaa;
}

/* Style the Upload File button */
.btn-danger {
    background-color: #d9534f;
    color: #fff;
    border: none;
}

.btn-danger:hover {
    background-color: #c9302c;
}
